/*/node_modules
/*/public/hot
/*/public/storage
/*/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
Thumbs.db
.vagrant
.vscode
.idea
.env
.DS_Store
.ftpconfig
.remote-sync.json
.bashrc
.bash_profile
.zshrc
*.ini
/.htaccess
/.dotfiles
/homebrew
/Library
/lpp.zip
/lpp_master.sql.gz
**/vendor
