// compileCompressed: ../../../public/packages/houzez/css/custom.css
// precision: 3

$screen-xs-min: 1px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs-max: $screen-sm-min - 1;
$screen-sm-max: $screen-md-min - 1;
$screen-md-max: $screen-lg-min -1;

$white: #fff;
$black: #000;
$light: #ededed;
$red: #9D2916;
$primary: $red;

$link-color-hover: $primary;
$link-color: lighten($primary, 6%);

body {
}

a {
  color: $link-color-hover;

  &:hover {
    color: $link-color;
  }
}

.header-section-4 {
  .header-right {
    .user {
      a {
        color: $link-color-hover;

        &:hover {
          color: $link-color;
        }
      }

      .btn {
        color: $link-color;
        border-color: $link-color-hover;

        &:hover {
          color: $white;
          background-color: $link-color-hover;
        }
      }
    }
  }

  .navi {
    a {
      color: $black;

      &:hover {
        color: $link-color-hover;
      }
    }

    > ul {
      > li {
        > a {
          color: $black;
          text-transform: uppercase;

          &:hover {
            color: $link-color-hover;
          }
        }

        &.active {
          > a {
            color: $link-color-hover;
          }
        }
      }

      .sub-menu {
        > li {
          &.active {
            > a {
              color: $link-color-hover;
            }
          }
        }
      }
    }
  }
}

.property-item {
  .item-body {
    .amenities {
      min-height: 30px;
    }
  }
}


.header-media {
  .search-expandable {
    .min-price-range,
    .max-price-range {
      color: $light;
    }

    .advanced-search {
      background-color: $link-color;
    }

    .advance-btn {
      background-color: $link-color-hover;
      border-color: $link-color-hover;

      &:hover {
        background-color: $link-color;
      }
    }
  }
}

.btn-primary {
  background-color: $link-color;
  border-color: $link-color-hover;

  &.active {
    background-color: $link-color-hover;
  }

  &:hover {
    background-color: $link-color-hover;
  }
}


#header-section {
  .header-left {
    .logo {
      img {
        height: 80px;
      }
    }
  }
}

#section-body {
  padding-bottom: 0;
}


.footer-v2 {
  .footer {
    background-color: $light;

    * {
      color: $black;
    }

    a,
    a > * {
      color: $link-color;
    }
  }

  .footer-bottom {
    background-color: $link-color-hover;
  }

  .widget-title {
    color: $black;
  }
}


.header-mobile {
  background-color: white;

  .header-logo {
    img {
      max-height: 60px;
    }
  }

  .fa {
    color: $primary;
  }

  .nav-dropdown {
    li {
      &.active {
        > a {
          background-color: $link-color-hover;
        }
      }

      &:hover {
        background-color: $link-color-hover;
      }

      ul {
        li {
          &:not(:first-child) {
            border-top-color: $link-color-hover;
          }

          > a {
            background-color: $link-color;
          }
        }
      }
    }
  }
}


/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .footer-v2 {
    .footer-bottom {
      .navi {
        float: right;
      }
    }
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {}

@media (max-width: $screen-xs-max) {}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {}
@media (min-width: $screen-lg-min) {}
